.header {
    @include flexRow('space-between');
    height: 20vh;
    padding: 0 50px;
    background-color: $headerMaroon;
    color: $white;

    .logo img {
        width: 130px;
    }

    .title h1 {
        font-family: 'Mountains of Christmas', cursive;
        font-size: 70px;
    }
    
}