.main {
min-height: 80vh;
background-color: $mainDarkBrown;

    .cd-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 50px;

        .cd {
            flex-basis: 350px;
            margin: 30px;
            padding: 20px;
            text-align: center;
            list-style: none;
            border: 3px solid $textSand;
            color: $textSand;

            .cd-image img {
                width: 100%;
                padding: 20px;
            }

            .cd-info h3 {
                font-size: $h3;
                padding: 20px;
            }
        }
    }
}